.mneu {
    text-decoration: none;
    background-color: pink;
    border-radius: 5px;
    padding: 5px;
}

h1 {
    text-align: center;
    border-bottom: 1px solid;
    border-radius: 10px;
}

h1>small,
h2>small {
    font-size: 12px;
}

.berita {
    border-radius: 20px;
    background-color: #eeefde;
    padding: 10px;
    margin-bottom: 20px;
}

.berita .linkDetail {
    text-align: right;
}

.berita a {
    text-decoration: none;
    background-color: #1bff32;
    border-radius: 5px;
    padding: 5px;
    width: 40px;
    margin-top: 10px;
}

.isi_berita h1 {
    background-color: pink;
}

.upload-area {
    width: 70%;
    height: 350px;
    border: 2px solid lightgray;
    border-radius: 3px;
    margin: 0 auto;
    text-align: center;
    overflow: auto;
}

.upload-area:hover {
    cursor: pointer;
}

.upload-area h2 {
    text-align: center;
    font-weight: normal;
    font-family: sans-serif;
    line-height: 50px;
    color: darkslategray;
}

#file {
    display: none;
}

/* Thumbnail */
.thumbnail {
    width: 80px;
    height: 80px;
    padding: 2px;
    border: 2px solid lightgray;
    border-radius: 3px;
    float: left;
}

.size {
    font-size: 12px;
}